* {
    text-decoration: none;
}

.navBar {
    display: flex;
    justify-content: center;
    font-size:25px;
}
a{
    padding: 5px;
    margin-left: 10px;
    font-weight: 700;
}
a:visited{
    color: #a78f6d;
}

#more,
#email {
    margin-left: 50px;
    font-size: 40px;
    color: antiquewhite;
}

#more:visited {
    color: rgb(49, 42, 31);
}

.ingPic {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 31.25rem;
    width: 44.875rem;
}
#ingredientsList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
}
#ingText{
    font-style: italic;
}


#steps {
    display: inline-block;
}

#chocChip {
    display: inline-block;
    margin-left: 12.5rem;
}

#insText {
    text-align: center;
    font-size: 50px;
    margin-right: 75rem;
    font-style: italic;

}

img#baked {
    height: 650px;
}

label {
    font-size: 1.5em;
}

input[type=checkbox]:checked+label {
    color: rgb(203, 181, 181);
    text-decoration: line-through 4px;
}

input[type=checkbox] {
    -webkit-transform: scale(2);
    transform: scale(2);
    padding: 10px;
    accent-color: #a78f6d;
}

.cbox1 {
    margin-top: 50px;
    margin-right: 20px;
}

ol {
    font-size: 1.5em;
}

li {
    width: 400px;
}